header {
    height: 35%;
}
main h1{
    text-align: center;
  }
.nav {
    margin-top: 3%;
    width: 100%;
}

.nav a {
    margin: 0 -2.5px 0 0;
    border: 1px solid #D8B08C;
    color: #D2E9E3;
    display: inline-block;
    width: 20%;
    height: 1.5em;
    background-color: rgba(44, 53, 50, 0.3);
    text-transform: uppercase;
    padding-top: 0.5%;
    font-size: 20px;
    text-align: center;

    position: relative;

    transition: all 0.6s ease;

}

.nav a:hover {
    color: #106466;
    background-color: #D2E9E3;
    text-decoration: none;
}

.playerimage {
    background-color: transparent;
    overflow: hidden;
}

.playerimage img {
    width: 100%;
    transition: all 0.5s ease;
}

.playerimage:hover img {
    transform: scale(1.1);
}

.small {
    margin-top: 2.5%;
}
#playerinfo {
    top: 90px;
    left: 275px;
}
#stats p{
    margin-top: 3%;

}
#stats p{
    margin-left: 15%;
    width: 35%;
}
#stats{
    display:flex;
    flex-flow: row wrap;
}