$main_background: rgba(44, 53, 50, 0.6);
$main_border: #D8B08C;

/* text color */
$primary: #D2E9E3;
$secondary: #FFCB9B;
$url: #106466;

/* buttons */
$background: #106466;
$border: #FFCB9B;
$text: #D2E9E3;  